@import "tailwindcss";

@font-face {
  font-family: "Plain-12";
  src: url(assets/fonts/RuneScape-Plain-12.otf);
}

@font-face {
  font-family: "Quill";
  src: url(assets/fonts/RuneScape-Quill.otf);
}

@font-face {
  font-family: "Quill-8";
  src: url(assets/fonts/RuneScape-Quill-8.otf);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-lightbeige: #E2DBC8;
  --color-darkbeige: #C0A886;
  --shadow-button: 0px 0px 25px rgba(0, 0, 0, 0.6);
}

html,
body {
  @apply bg-lightbeige text-black dark:bg-black dark:text-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  font-family: Plain-12;
}

h1 {
  font-family: Quill;
}
